<template>
    <div class="question__variants__item">
        <div class="question__variants__item__move">
            <img src="../../img/variant-move.svg">
        </div>
        <div class="question__variants__item__value" :class="hasImageClass">
            <file-upload v-if="hasImage"
                         v-model="v.image"
                         @change="uploadListener"
                         view="slot"
                         :style="image"
                         v-bind="fileUploadProps"
                         class="question__variants__item__value__image">
            </file-upload>
            <input v-if="progress" type="text" :value="`Загружено ${progress}%`">
            <input v-else type="text" v-model="v.name">
            <div class="question__variants__item__value__controls">
                <div @click="setHint"
                     v-tooltip="v.comment"
                     v-if="type!=='select'"
                     class="question__variants__item__btn">
                    <div v-if="value.comment" class="question__variants__item__comment"></div>
                    <i class="uil uil-comment-alt"></i>
                </div>
                <div @click="remove" class="question__variants__item__btn">
                    <img src="../../img/x.svg">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import BaseMixin from '../../mixins/base';

export default {
    name: 'QuestionVariantItem',
    mixins: [BaseMixin],
    props: [
        'value',
    ],
    data() {
        return {
            v: this.value,
            upload: false,
        };
    },
    mounted() { this.v = this.value; },
    updated() { this.v = this.value; },

    computed: {
        progress() {
            if (this.upload.action === 'progress') {
                return this.upload.progress;
            }
            return false;
        },
        image() {
            if (this.value.image.src) {
                return { backgroundImage: `url(${this.value.image.src})` };
            }
            return {};
        },
        hasImageClass() {
            return { 'question__variants__item__value--image': this.hasImage };
        },
        hasImage() {
            return this.type === 'cards' || this.type === 'cards_checkbox';
        },
        fileUploadProps() {
            return {
                crop: true,
                cropWidth: 300,
                routeUpload: this.$getRoute('quiz-edit-upload-image'),
            };
        },
    },

    methods: {
        remove() {
            this.q.values = this.q.values.filter((value, i) => this.index !== i);
            this.removeImage([this.value.image.id]);
        },
        setHint() {
            this.$store.dispatch('quizBuilder/questions/setQuestion', this.question);
            this.$store.dispatch('quizBuilder/questions/setAnswerValue', this.index);
            $('#HintAnswerModal').modal('show');
        },
        uploadListener(params) {
            this.upload = params;
            if (params.action === 'error') {
                this.$notify({
                    type: 'danger',
                    group: 'main',
                    title: 'Ошибка',
                    text: params.message,
                });
            }
        },
    },
};
</script>

<style scoped lang="scss">
.question__variants__item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 12px;
    &__move{
        margin-right: 10px;
        flex: none;
        cursor: grab;
    }
    &__comment{
        width: 14px;
        height: 14px;
        background-image: url("../../img/attention_mark.svg");
        position: absolute;
        top: -6px;
        left: -7px;
        background-size: 100%;
    }
    &__btn {
        cursor: pointer;
        position: relative;
    }
    &__btn:first-child{
        cursor: pointer;
        margin-right: 10px;
        margin-top: 3px;
        .uil{
            color: $secondary-200;
        }
    }
    &__value{
        position: relative;
        width: 100%;
        height: 40px;
        &__image{
            width: 40px;
            height: 100%;
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 2;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            background-color: #F7F7F7;
            background-image: url("../../img/image_upload_area.svg");
            background-repeat: no-repeat;
            cursor: pointer;
            background-size: cover;
            background-position: center;
        }
        input{
            padding-left: 14px;
            border: 1px solid #EAEBEC;
            border-radius: 6px;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 1;
            font-size: 14px;
            letter-spacing: -0.0025em;
            color: #30343B;
            font-weight: 600;
            padding-right: 62px;
        }
        &--image{
            input{
                padding-left: 57px;
            }
        }
        &__controls{
            position: absolute;
            right: 10px;
            z-index: 2;
            display: flex;
            align-items: center;
            height: 100%;
        }
    }
}
</style>
