<template>
    <img v-if="type === 'radio' || type === 'checkbox'" src="../img/list.svg">
    <img v-else-if="type === 'cards' || type === 'cards_checkbox'" src="../img/cards.svg">
    <img v-else-if="type === 'select'" src="../img/select.svg">
    <img v-else-if="type === 'text'" src="../img/textarea.svg">
    <img v-else-if="type === 'date'" src="../img/calendar.svg">
    <img v-else-if="type === 'range'" src="../img/range.svg">
    <img v-else-if="type === 'upload'" src="../img/upload.svg">
</template>

<script>
export default {
    name: 'IconType',
    props: [
        'type',
    ],
};
</script>
