<template>
    <div class="question-type">
        <div class="question-type__icon">
            <img v-if="icon === 'list'" src="../img/list.svg">
            <img v-if="icon === 'cards'" src="../img/cards.svg">
            <img v-if="icon === 'select'" src="../img/select.svg">
            <img v-if="icon === 'textarea'" src="../img/textarea.svg">
            <img v-if="icon === 'calendar'" src="../img/calendar.svg">
            <img v-if="icon === 'range'" src="../img/range.svg">
            <img v-if="icon === 'upload'" src="../img/upload.svg">
        </div>
        <div class="question-type__title" v-text="title"></div>
    </div>
</template>

<script>
export default {
    props: [
        'title',
        'icon',
    ],
};
</script>

<style scoped lang="scss">
.question-type{
    width: 160px;
    height: 140px;
    border: 1px solid $secondary-100;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 13px;
    margin: 6px;
    cursor: pointer;
    &__icon{
        width: 48px;
        height: 48px;
        background: $primary-100;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: none;
    }
    &__title{
        color: $gray-700;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: -0.01em;
        margin-top: 17px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
</style>
