<template>
  <div class="question__add-after" @click="add">
    <div class="question__add-after__line"></div>
  </div>
</template>

<script>
import BaseMixin from '../mixins/base';

export default {
    name: 'AddQuestionAfter',
    mixins: [BaseMixin],
    methods: {
        add() {
            // eslint-disable-next-line no-extend-native
            Array.prototype.insert = function (index, item) {
                this.splice(index, 0, item);
            };

            this.quiz.questions.insert(this.index + 1, this.getQuestionData());
        },
    },
};
</script>

<style scoped lang="scss">

    @keyframes showed {
        0%    { opacity: 0; }
        100%  { opacity: 1; }
    }

    .question__add-after{
        opacity: 0;
        cursor: pointer;
        position: absolute;
        width: 100%;
        left: 0px;
        bottom: -24px;
        height: 16px;
        background-image: url("../img/add_question.svg");
        background-repeat: no-repeat;
        &:hover{
            animation-name: showed;
            animation-duration: 0.2s;
            animation-iteration-count: 1;
            animation-delay: 0.2s;
            animation-fill-mode: forwards;
        }
    }
</style>
