<template>
    <div class="question__body">
        <b-text-field v-model="q.title" title="Название вопроса" rows="2"/>
        <Types :question="q"/>
        <VText :question="q" v-if="type === 'text'" />
        <Cards :question="q" v-else-if="type === 'radio' || type === 'checkbox' || type === 'cards' || type === 'cards_checkbox' || type === 'select'" />
        <Upload :question="q" v-else-if="type === 'upload'"/>
        <Date :question="q" v-else-if="type === 'date'"/>
        <Range :question="q" v-else-if="type === 'range'"/>
    </div>
</template>

<script>
import Types from './QuestionType.vue';
import BaseMixin from '../mixins/base';
import VText from './Types/Text.vue';
import Cards from './Types/Cards.vue';
import Upload from './Types/FileUpload.vue';
import Date from './Types/Date.vue';
import Range from './Types/Range.vue';

export default {
    name: 'QuestionBody',
    mixins: [BaseMixin],
    components: {
        Types, VText, Cards, Upload, Date, Range,
    },
};
</script>

<style scoped lang="scss">
.question__body{
    margin-top: 25px;
}
</style>
