<template>
    <div>
        <div class="question__footer">
            <div class="question__footer__left">
                <div @click="toggleSettings"
                     :class="{'question__footer__btn--active': showSettings}"
                     class="question__footer__btn mr--12">
                    <i class="uil uil-cog"></i>
                </div>
                <div @click="toggleHint"
                     :class="{'question__footer__btn--active': showHint}"
                     class="question__footer__btn">
                        <i class="uil uil-comment-add"></i>
                </div>
            </div>
            <div :class="conditionsClass" v-if="index || q.when.rules.length" class="question__footer__btn" @click="showConditions">
                <div v-if="q.when.rules.length" class="question__footer__btn__badge" v-text="q.when.rules.length"></div>
                <i class="uil uil-code-branch"></i>
            </div>
        </div>
        <div class="mt--26" v-if="showSettings">
            <VText v-if="type==='text'" :question="question"/>
            <Radio v-if="type==='radio' || type==='checkbox'" :question="question"/>
            <Cards v-if="type==='cards' || type==='cards_checkbox'" :question="question"/>
            <VSelect v-if="type==='select'" :question="question"/>
            <Upload v-if="type==='upload'" :question="question"/>
            <Date v-if="type==='date'" :question="question"/>
            <Range v-if="type==='range'" :question="question"/>
        </div>
        <div class="mt--26" v-if="showHint">
            <b-text-field title="Подсказка консультанта" v-model="q.hint_consultant"/>
        </div>
    </div>
</template>

<script>
import BaseMixin from '../mixins/base';
import Date from './Footer/Date.vue';
import Range from './Footer/Range.vue';
import Upload from './Footer/Upload.vue';
import Cards from './Footer/Cards.vue';
import VSelect from './Footer/Select.vue';
import Radio from './Footer/Radio.vue';
import VText from './Footer/Text.vue';

export default {
    name: 'QuestionFooter',
    mixins: [BaseMixin],
    components: {
        Date, Range, Upload, VSelect, Cards, Radio, VText,
    },
    computed: {
        conditionsClass() {
            return {
                'question__footer__btn--danger': this.q.when.rules.length && this.index < 1,
            };
        },
    },
    data() {
        return {
            showHint: false,
            showSettings: false,
        };
    },
    methods: {
        toggleHint() {
            this.showSettings = false;
            this.showHint = !this.showHint;
        },
        toggleSettings() {
            this.showHint = false;
            this.showSettings = !this.showSettings;
        },
        showConditions() {
            this.$store.dispatch('quizBuilder/questions/setQuestion', this.question);
            this.$store.dispatch('quizBuilder/questions/setIndex', this.index);
            $('#ConditionsModal').modal('show');
        },
    },
};
</script>

<style scoped lang="scss">
.question {
    &__footer{
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__left{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__btn{
            cursor: pointer;
            width: 34px;
            height: 34px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            position: relative;
            &__badge{
                background: $primary-500;
                color: white;
                width: 18px;
                height: 18px;
                border-radius: 100%;
                font-size: 12px;
                line-height: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                flex: none;
                right: 3px;
                position: relative;
            }
            .uil{
                color: $secondary-500;
                font-size: 20px;
            }
            &--active{
                background: $primary-100;
                .uil{
                    color: $primary-500;
                }
            }
            &--danger{
                .uil{
                    color: $warning-500;
                }
                .question__footer__btn__badge{
                    background: $warning-500;
                }
            }
        }
    }
}
</style>
