<template>
    <div class="question__header">
        <div class="question__header__type">
            <div class="question__header__move">
                <i class="uil uil-expand-arrows-alt"></i>
            </div>
            <IconType :type="question.type"/>
        </div>
        <div class="question__header__title"
             @click="openToggle"
             v-html="question.title"></div>
        <div class="question__header__enable" @click="viewToggle">
            <i class="uil uil-eye" v-if="view"></i>
            <i class="uil uil-eye-slash" v-else></i>
        </div>
        <div v-click-outside="hideOptions" class="question__header__options" @click="showOptions=!showOptions">
            <img src="../img/dots.svg">
            <template v-if="showOptions">
                <div class="question__header__options__fade"></div>
                <div class="question__header__options__items">
                    <div @click="copy" class="question__header__options__item">
                        <i class="uil uil-copy-alt"></i>
                        <span>Копировать</span>
                    </div>
                    <div @click="remove" class="question__header__options__item" data-danger>
                        <i class="uil uil-trash"></i>
                        <span>Удалить</span>
                    </div>
                </div>
            </template>
        </div>
        <div class="question__header__toggle" @click="openToggle">
            <i class="uil uil-angle-up" v-if="q.collapse === 'on'"></i>
            <i class="uil uil-angle-down" v-else></i>
        </div>
    </div>
</template>

<script>
import IconType from '@src/js/components/quiz-builder/Question2/TypeQuestionModal/IconType';
import BaseMixin from '@src/js/components/quiz-builder/Question2/mixins/base';

export default {
    name: 'QuestionHeader',
    mixins: [BaseMixin],
    components: { IconType },
    data: () => ({
        showOptions: false,
    }),
    computed: {
        view() {
            return this.question.questionView;
        },
    },
    methods: {
        copyQuestion() {
            const q = JSON.parse(JSON.stringify(this.q));
            q.slug = this.generateQuestionSlug();
            return q;
        },
        viewToggle() {
            this.q.questionView = !this.q.questionView;
        },
        openToggle() {
            this.q.collapse = this.q.collapse === 'on' ? 'close' : 'on';
        },
        hideOptions() {
            this.showOptions = false;
        },
        remove() {
            this.quiz.questions = this.quiz.questions.filter((q, i) => this.index !== i);
            this.removeImage(this.questionImagesIds);
        },
        copy() {
            this.quiz.questions.splice(this.index, 0, this.copyQuestion());
            this.copyImage(this.questionImagesIds);
        },
    },
};
</script>

<style scoped lang="scss">
.question {
    &__header{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        &__move{
            display: none;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 0px;
            right: 0px;
            width: 100%;
            height: 100%;
            border-radius: 6px;
            cursor: grab;
            .uil{
                color: #4376d9;
            }
        }
        &__type{
            width: 36px;
            height: 36px;
            background-color: $primary-100;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 9px;
            position: relative;
            &:hover{
                .question__header__move{
                    display: flex;
                }
                img{
                    display: none;
                }
            }
        }
        &__title{
            color: #3A4C6C;
            font-size: 14px;
            line-height: 17px;
            font-weight: bold;
            width: 188px;
            overflow: hidden;
            word-spacing: revert;
            text-overflow: ellipsis;
            word-break: break-all;
            white-space: nowrap;
            margin-right: 12px;
            cursor: pointer;
        }
        &__enable{
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 17px;
            cursor: pointer;
            .uil{
                font-size: 20px;
                color: $secondary-500;
            }
        }
        &__options{
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #EBEDF0;
            border-radius: 8px;
            margin-right: 12px;
            cursor: pointer;
            position: relative;
            &__fade{
                position: fixed;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                background: rgba(232, 233, 236, 0.21);
                z-index: 2;
            }
            &__items{
                background: white;
                position: absolute;
                padding: 12px;
                border: 1px solid #EBEDF0;
                z-index: 3;
                border-radius: 8px;
                top: -3px;
                right: -2px;
            }
            &__item{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 12px;
                cursor: pointer;
                transition: opacity 0.3s;
                &:last-child{
                    margin-bottom: 0px;
                }
                &:hover{
                    opacity: 0.6;
                }
                span{
                    color: $secondary-500;
                    font-size: 14px;
                    font-weight: bold;
                }
                .uil{
                    color: $secondary-500;
                    font-size: 16px;
                    margin-right: 12px;
                }
                &[data-danger]{
                    span{
                        color: $danger-500;
                    }
                    .uil{
                        color: $danger-500;
                    }
                }
            }
        }
        &__toggle{
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            .uil{
                color: #212529;
                font-size: 24px;
            }
        }
    }
}
</style>
