<template>
    <div class="question__types" @click="showModal">
        <div class="question__types__title">Тип вопроса</div>
        <div class="question__types__change">
            <div class="question__types__change__left">
                <div class="question__types__icon">
                    <IconType :type="type"/>
                </div>
                <div class="question__types__value">
                    <span v-if="type === 'radio' || type === 'checkbox'">Варианты ответов</span>
                    <span v-else-if="type === 'cards' || type === 'cards_checkbox'">Карточки с картинками</span>
                    <span v-else-if="type === 'select'">Выпадающий список</span>
                    <span v-else-if="type === 'text'">Текстовое поле</span>
                    <span v-else-if="type === 'date'">Выбор даты</span>
                    <span v-else-if="type === 'range'">Ползунок</span>
                    <span v-else-if="type === 'upload'">Загрузка файла</span>
                </div>
            </div>
            <div class="question__types__arrow">
                <i class="uil uil-angle-down"></i>
            </div>
        </div>
    </div>
</template>

<script>
import IconType from '@src/js/components/quiz-builder/Question2/TypeQuestionModal/IconType';
import BaseMixin from '../mixins/base';

export default {
    mixins: [BaseMixin],
    components: { IconType },
    computed: {
        type() {
            return this.question.type;
        },
    },
    methods: {
        showModal() {
            $('#TypeQuestionModal').modal('show');
            this.$store.dispatch('quizBuilder/questions/setQuestion', this.question);
        },
    },
};
</script>

<style scoped lang="scss">
.question__types{
    margin-top: 10px;
    margin-bottom: 25px;
    &__title{
        font-size: 14px;
        line-height: 17px;
        color: $secondary-500;
    }
    &__change{
        margin-top: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6px 6px 6px 12px;
        border: 1px solid #EAEBEC;
        border-radius: 6px;
        cursor: pointer;
        &__left{
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }
    &__icon{
        margin-right: 14px;
    }
    &__value{
        color: #30343B;
        font-weight: 600;
        font-size: 14px;
    }
    &__arrow{
        .uil{
            font-size: 18px;
        }
    }
}
</style>
