<template>
    <div class="question__variants">
        <div class="question__variants__title">
            Ответы
        </div>
        <div class="question__variants__list">
            <draggable v-model="q.values" handle=".question__variants__item__move">
                <transition-group>
                    <Item v-for="(value, valueIndex) in q.values"
                          :key="`values-${index}-${valueIndex}`"
                          :json-quiz="jsonQuiz"
                          :question="question"
                          :index="valueIndex"
                          :value="value"/>
                </transition-group>
            </draggable>
        </div>
        <b-btn
            size="sm"
            view="link"
            @click.native="add"
            text="Добавить ответ"
            icon-left="plus"/>
    </div>
</template>

<script>
import draggable from 'vuedraggable';
import BaseMixin from '../mixins/base';
import Item from './Variants/Item.vue';

export default {
    name: 'QuestionVariants',
    mixins: [BaseMixin],
    components: { draggable, Item },
    methods: {
        add() {
            if (!this.q.values) {
                this.q.values = [];
            }

            this.q.values.push({
                name: '',
                comment: '',
                isRight: false,
                choiceHint: '',
                scores: 0,
                image: {
                    id: 0,
                    src: '',
                },
            });
        },
    },
};
</script>

<style scoped lang="scss">
.question__variants{
    margin-top: 25px;
    &__title{
        font-size: 14px;
        line-height: 17px;
        color: $secondary-500;
    }
    &__list{
        margin-top: 12px;
    }
}
</style>
