<template>
    <div class="question__add" @click="add">
        <div class="text-center">
            <img src="./img/plus-circle.svg"/>
            <div class="b-text b-text--fs-14 b-text--gray mt--6">
                {{$t('quiz-edit-questions.add-question')}}
            </div>
        </div>
    </div>
</template>

<script>
import BaseMixin from './mixins/base';

export default {
    name: 'QuestionsAdd',
    mixins: [BaseMixin],
    methods: {
        add() {
            this.quiz.questions.push(this.getQuestionData());
        },
    },
};
</script>
