<template>
    <div class="modal fade" id="ConditionsModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>{{$t('quiz-edit-questions.visibility-condition')}}</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <template v-if="q">
                    <div class="modal-body" v-show="!q.when.rules.length">
                        <b-notif
                            v-if="!i"
                            class="mx--0"
                            type="warning"
                            :title="$t('quiz-edit-questions.condition-first-question-title')"
                            :text="$t('quiz-edit-questions.condition-first-question-text')"/>
                        {{$t('quiz-edit-questions.not-conditions')}}
                        <div class="mt--24">
                            <b-btn
                                @click.native="add"
                                :text="$t('quiz-edit-questions.add-condition')"
                                type="secondary"
                                view="outline"
                                icon-left="plus"
                                size="md"/>
                        </div>
                    </div>
                    <div class="modal-body" v-show="q.when.rules.length">
                        <div class="b-text b-text--secondary b-text--fs-14">
                            {{ $t('quiz-edit-questions.question') }}
                        </div>
                        <div class="b-text b-text--fs-15 font-weight-bold mt--4">
                            {{ q.title }}
                        </div>
                        <b-notif
                            close
                            class="mx--0"
                            v-if="!i"
                            name="first_question_condition"
                            type="warning"
                            :title="$t('quiz-edit-questions.condition-first-question-title')"
                            :text="$t('quiz-edit-questions.condition-first-question-text')"/>
                        <vue-panel
                            v-for="(rule, ruleIndex) in q.when.rules" :key="`q-${q.slug}-rule-${ruleIndex}`" class="mt--28 mb--24 py--10 px--20">
                            <div class="d-flex align-items-center justify-content-between">
                                <h4>{{ $t('quiz-edit-questions.condition') }} {{ ruleIndex + 1 }}</h4>
                                <b-btn @click.native="remove(ruleIndex)" view="link" text="" type="danger" icon="trash" size="sm"/>
                            </div>
                            <div class="mt--16">
                                <b-select :options="selectQuestions" v-model="rule.question" :title="$t('quiz-edit-questions.show-condition-if')"/>
                                <template v-if="rule.question">
                                    <b-select :options="getTypesList(rule)" v-model="rule.type" class="mt--14"/>
                                    <b-select v-if="getRuleValueOptions(rule)" :options="getRuleValueOptions(rule)" v-model="rule.value"/>
                                    <b-field v-else v-model="rule.value"/>
                                </template>
                            </div>
                        </vue-panel>

                        <div class="mt--24 mb--40" v-if="i">
                            <b-btn
                                @click.native="add"
                                :text="$t('quiz-edit-questions.add-condition')"
                                type="secondary"
                                view="outline"
                                icon-left="plus"
                                size="md"/>
                        </div>

                        <b-radio @input="setWhenLogic"
                                 :values="whenLogicOptions"
                                 name="when_logic"
                                 class="w-100 d-flex mb--50"/>

                        <div class="d-flex align-items-center justify-content-end">
                            <b-btn data-dismiss="modal"
                                   :text="$t('default.saveAndClose')"
                                   size="md"
                                   class="ml--12"/>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import BaseMixin from './mixins/base';

export default {
    name: 'ConditionsModal',
    mixins: [BaseMixin],
    emits: ['input'],
    computed: {
        ...mapGetters('quizBuilder/questions', [
            'indexVuex',
            'questionVuex',
        ]),
        selectQuestions() {
            return this.quiz.questions
                .filter((q, i) => this.indexVuex > i)
                .map((q) => ({ text: q.title, value: q.slug }));
        },
        whenLogicOptions() {
            return [
                {
                    text: this.$t('quiz-edit-questions.important-condition-all'),
                    value: 'and',
                    checked: this.q.when.logic === 'and',
                    classes: {
                        'mr--10': true,
                    },
                },
                {
                    text: this.$t('quiz-edit-questions.important-condition-one'),
                    value: 'or',
                    checked: this.q.when.logic === 'or',
                },
            ];
        },
    },
    watch: {
        q: {
            deep: true,
            handler(q) { this.$emit('input', q); },
        },
        questionVuex: {
            deep: true,
            handler(q) { this.q = q; },
        },
        indexVuex(i) { this.i = i; },
    },
    methods: {
        setWhenLogic(value) {
            this.q.when.logic = value;
        },
        add() {
            this.q.when.rules.push({
                question: false,
                type: '=',
                value: '',
                inverse: false,
            });
        },
        remove(index) {
            this.q.when.rules = this.q.when.rules.filter((r, i) => i !== index);
        },
        getRuleValueOptions(rule) {
            const q = this.findQuestionBySlug(rule.question);
            if (!q || !q.values || !(['radio', 'checkbox', 'cards', 'cards_checkbox', 'select'].indexOf(q.type) + 1)) return false;
            return q.values.map((v) => ({ text: v.name, value: v.name }));
        },
        getTypesList(rule) {
            const q = this.findQuestionBySlug(rule.question);
            switch (q.type) {
            case 'radio':
            case 'checkbox':
            case 'cards':
            case 'cards_checkbox':
            case 'select':
                return [
                    { value: 'false', text: this.$t('quiz-edit-questions.not-chosen') },
                    { value: '=', text: 'Равен' },
                    { value: '!=', text: 'Не равен' },
                ];
            case 'text':
                return [
                    { value: 'false', text: this.$t('quiz-edit-questions.not-chosen') },
                    { value: '=', text: 'Равен' },
                    { value: '!=', text: 'Не равен' },
                    { value: '%', text: 'Содержит' },
                    { value: '_%', text: 'Начинается с' },
                    { value: '%_', text: 'Заканчивается на' },
                ];
            case 'range':
                return [
                    { value: 'false', text: this.$t('quiz-edit-questions.not-chosen') },
                    { value: '=', text: 'Равен' },
                    { value: '!=', text: 'Не равен' },
                    { value: '>', text: 'Больше' },
                    { value: '<', text: 'Меньше' },
                    { value: '>=', text: 'Больше или равен' },
                    { value: '<=', text: 'Меньше или равен' },
                ];
            default:
                return [
                    { value: 'false', text: this.$t('quiz-edit-questions.not-chosen') },
                    { value: '=', text: 'Равен' },
                    { value: '!=', text: 'Не равен' },
                ];
            }
        },
    },
};
</script>

<style scoped lang="scss">
.modal-dialog{
    max-width: 600px;
}
</style>
