<template>
    <vue-accordion class="consultant" no-padding no-border show :title="$t('quiz-edit-questions.consultant')">
        <file-upload
            class="mb--28"
            v-bind="fileUploadProps"
            v-model="quiz.consultant.image">
        </file-upload>

        <b-field class="mb--28"
                 :title="$t('quiz-edit-questions.name')"
                 :placeholder="$t('quiz-edit-questions.name-placeholder')"
                 v-model="quiz.consultant.name"/>

        <b-field
            :title="$t('quiz-edit-questions.position')"
            :placeholder="$t('quiz-edit-questions.position-placeholder')"
            v-model="quiz.consultant.post"/>

        <div class="mt--28 b-text b-text--secondary b-text--fs-14">
            {{$t('quiz-edit-questions.consultant-hint')}}
        </div>

        <div class="mt--28 b-text b-text--secondary b-text--fs-14">
            <b-switch class="mb--0" v-model="quiz.consultant.openedComments" :caption="[$t('quiz-edit-questions.consultant-dont-collapse')]"/>
        </div>
    </vue-accordion>
</template>

<script>
import BaseMixin from './mixins/base';

export default {
    name: 'VueQuestionConsultant',
    mixins: [BaseMixin],
    computed: {
        fileUploadProps() {
            return {
                crop: true,
                view: 'circle',
                cropWidth: 100,
                routeUpload: this.$getRoute('quiz-edit-upload-image'),
                autoWidth: true,
                hideButton: true,
            };
        },
    },
};
</script>
