<template>
    <div class="d-flex align-items-center justify-content-between">
        <h2>{{$t('quiz-edit.sidebar-questions')}}</h2>
        <a :href="$t('quiz-edit-questions.documentation-link-href')"
           target="_blank"
           class="b-text b-text--bold">
            <i class="uil uil-question-circle mr-1"></i>
            {{$t('quiz-edit-questions.documentation-link-text')}}
        </a>
    </div>
</template>

<script>
import BaseMixin from './mixins/base';

export default {
    name: 'QuestionsHeader',
    mixins: [BaseMixin],
};
</script>
