<template>
    <div v-if="questions.length" class="mt--28 d-flex align-items-center justify-content-start">
        <b-btn v-if="hidedAll"
               @click.native="showToggle('on')"
               size="sm"
               class="p--0 mr--12 btn--not-hover"
               :text="$t('quiz-edit-questions.show-all')"
               type="secondary"
               view="link"
               icon="angle-down"/>
        <b-btn v-else
               @click.native="showToggle('close')"
               size="sm"
               class="p--0 mr--12 btn--not-hover"
               :text="$t('quiz-edit-questions.hide-all')"
               type="secondary"
               view="link"
               icon="angle-up"/>

        <b-btn v-if="disabledAll"
               @click.native="disableToggle(true)"
               size="sm"
               class="p--0 btn--not-hover"
               :text="$t('quiz-edit-questions.on-all')"
               type="secondary"
               view="link"/>
        <b-btn v-else
               @click.native="disableToggle(false)"
               size="sm"
               class="p--0 btn--not-hover"
               :text="$t('quiz-edit-questions.off-all')"
               type="secondary"
               view="link"/>
    </div>
</template>

<script>
import BaseMixin from './mixins/base';

export default {
    name: 'HideAllQuestions',
    mixins: [BaseMixin],
    computed: {
        questions() {
            return this.quiz.questions;
        },
        hidedAll() {
            const showedQuestions = this.questions.filter((question) => question.collapse === 'on');
            return !showedQuestions.length;
        },
        disabledAll() {
            const enableQuestions = this.questions.filter((question) => question.questionView);
            return !enableQuestions.length;
        },
    },

    methods: {
        showToggle(state) {
            this.questions.forEach((question) => {
                question.collapse = state;
            });
        },
        disableToggle(state) {
            this.questions.forEach((question) => {
                question.questionView = state;
            });
        },
    },
};
</script>

<style scoped lang="scss">

</style>
