<template>
    <div class="modal fade" id="HintAnswerModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <form method="get" action="">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="b-text b-text--fs-15 b-text--secondary font-weight-bold mt-2 mb-1">
                            Введите подсказку для ответа
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <b-text-field :value="answerValueComment" @input="(v) => $emit('input', v)"/>

                        <div class="d-flex align-items-center justify-content-end">
                            <b-btn text="Удалить" @click.native="remove" view="link" size="sm" />
                            <b-btn @click.native="save" text="Сохранить" view="semi-fill" size="sm" class="ml--12" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import BaseMixin from './mixins/base';

export default {
    name: 'HintAnswerModal',
    mixins: [BaseMixin],
    emits: ['input'],
    computed: {
        ...mapGetters('quizBuilder/questions', [
            'answerValueComment',
        ]),
    },
    methods: {
        remove() {
            this.$emit('input', '');
            $('#HintAnswerModal').modal('hide');
        },
        save() {
            $('#HintAnswerModal').modal('hide');
        },
    },
};
</script>
