<template>
    <div class="question">
        <vue-panel class="question__panel py--12 px--20">
            <Header v-bind="$props"/>
            <template v-if="open">
                <Body v-bind="$props"/>
                <Footer v-bind="$props"/>
            </template>
            <AddAfter v-if="!isLast" v-bind="$props"/>
        </vue-panel>
    </div>
</template>

<script>
import AddAfter from './Question/AddAfter.vue';
import Header from './Question/Header.vue';
import Footer from './Question/Footer.vue';
import Body from './Question/Body.vue';
import BaseMixin from './mixins/base';

export default {
    name: 'QuestionCard',
    mixins: [BaseMixin],
    components: {
        Header, Footer, Body, AddAfter,
    },
    computed: {
        open() {
            return this.q.collapse === 'on';
        },
    },
};
</script>

<style scoped lang="scss">
.question{
    padding-bottom: 28px;
    position: relative;
    &__panel{
        background-color: white;
    }
}
</style>
