<template>
    <div class="modal fade" id="QuizAsTestModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div v-if="quiz" class="modal-content">
                <div class="modal-header pt--24">
                    <h2>{{ $t('quiz-edit-questions.quiz-test-custom-answer') }}</h2>
                    <div>
                        <b-btn class="mr--16"
                               type="secondary"
                               data-dismiss="modal"
                               :text="$t('default.close')"
                               view="link"/>
                        <b-btn data-dismiss="modal"
                               :text="$t('default.save')"/>
                    </div>
                </div>
                <div class="modal-body pb--28">
                    <div class="b-text b-text--fs-14 b-text--secondary">
                        {{ $t('quiz-edit-questions.quiz-test-hint') }}
                        <a :href="$t('quiz-edit-questions.quiz-test-href')" target="_blank" class="b-text b-text--primary b-text--fs-14 font-weight-bold">
                            {{ $t('quiz-edit-questions.quiz-test-href-doc') }}
                        </a>
                    </div>
                </div>
                <div class="modal-body pt--0 px--0">
                    <div v-for="(q, i) in quiz.questions"
                         :key="`question-as-test-${q.slug}`">
                        <vue-accordion
                            v-if="showQuestion(q)"
                            class="question-as-test"
                            :label="{value: i+1}"
                            :title="q.title">

                            <vue-panel v-for="(v, i) in q.values"
                                       :key="`question-as-test-${q.slug}-${i}`"
                                       @click.native="v.isRight = !v.isRight"
                                       :class="{'question-as-test--active': v.isRight}">
                                <div class="d-flex align-items-start justify-content-start">
                                    <div class="w-100">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center justify-content-start">
                                                <div class="position-relative">
                                                    <div class="position-absolute question-as-test__checkbox"></div>
                                                    <b-checkbox v-model="v.isRight"
                                                                :text="v.name"
                                                                class="mb--0"
                                                                type="success"/>
                                                </div>
                                                <vue-badge v-if="v.isRight"
                                                           type="success"
                                                           size="sm"
                                                           :value="$t('quiz-edit-questions.right-answer')"/>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-center justify-content-start">
                                                    <div class="question-as-test__bonus-hint mr--16 b-text b-text--secondary b-text--fs-14">
                                                        {{$t('quiz-edit-questions.quiz-test-number-point')}}
                                                    </div>
                                                    <b-field v-model="v.scores"
                                                             @click.native.stop.prevent
                                                             class="question-as-test__bonus-count mb--0"
                                                             type="number"/>
                                                </div>
                                            </div>
                                        </div>
                                        <b-text-field v-model="v.choiceHint"
                                                      rows="1"
                                                      @click.native.stop.prevent
                                                      class="mt--12"
                                                      :placeholder="$t('quiz-edit-questions.placeholder-quiz-test-hint')"/>
                                    </div>
                                </div>
                            </vue-panel>
                        </vue-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import BaseMixin from './mixins/base';

export default {
    name: 'QuizAsTestModal',
    mixins: [BaseMixin],
    computed: {
    },
    watch: {
    },
    methods: {
        showQuestion(q) {
            return (
                q.type === 'radio'
                || q.type === 'checkbox'
                || q.type === 'cards_checkbox'
                || q.type === 'cards'
            );
        },
    },
};
</script>

<style scoped lang="scss">
.modal-dialog{
    max-width: 800px;
}
.question {
    border-radius: 0px;
    border-bottom: 0px;
    .b-accordion__title{
        padding: 20px 30px;
    }
}
</style>
<style lang="scss">
.question-as-test.b-accordion {
    border-radius: 0px;
    border-bottom: 0px;
    .b-accordion__title{
        padding: 20px 30px;
        .b-label--circle{
            font-size: 14px;
            width: 24px;
            height: 24px;
            font-weight: 600;
        }
    }
    .b-accordion__content {
        padding-left: 70px;
        .b-panel{
            padding: 12px 18px;
            margin-bottom: 12px;
            cursor: pointer;
        }
        .b-input input,
        .b-textarea textarea {
            background: white;
        }
    }
    .question-as-test__bonus-count{
        width: 68px;
    }
    .question-as-test__bonus-hint{
        flex: none;
    }
    .question-as-test--active{
        background: $success-100;
    }
    .question-as-test__checkbox{
        z-index: 1;
        width: 100%;
        height: 100%;
        background: transparent
    }
}
</style>
