<template>
    <vue-accordion custom-controls no-padding no-border :title="$t('quiz-edit-questions.quiz-test-title')">
        <template v-slot:right="accordion">
            <div class="b-accordion__control d-flex align-items-center">
                <b-switch type="success" class="mb--0 mr--16" v-model="quiz.rightAnswers.enable"/>
                <i v-if="accordion.data.open" class="uil uil-angle-up"></i>
                <i v-else class="uil uil-angle-down"></i>
            </div>
        </template>
        <template v-slot:default>
            <img src="./img/quiz-as-test.png">
            <div class="mt--20 b-text b-text--fs-14 b-text--secondary">
                {{ $t('quiz-edit-questions.quiz-test-text') }}
            </div>
            <b-btn @click.native="show"
                   class="mt--24"
                   :text="$t('quiz-edit-questions.custom-answers')"
                   icon-left="sliders-v"/>
        </template>
    </vue-accordion>
</template>

<script>
import BaseMixin from './mixins/base';

export default {
    name: 'QuestionsQuizAsTest',
    mixins: [BaseMixin],
    methods: {
        show() {
            $('#QuizAsTestModal').modal('show');
        },
    },
};
</script>
