<template>
    <div class="modal fade" id="TypeQuestionModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <form method="get" action="">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="font-weight-bold mt-2 mb-1">
                            Выберите тип вопроса
                        </h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="question-types-list">
                            <Type title="Список" icon="list" @click.native="setType('radio')"/>
                            <Type title="Карточки с картинками" icon="cards" @click.native="setType('cards')"/>
                            <Type title="Выпадающий список" icon="select" @click.native="setType('select')"/>
                            <Type title="Текстовое поле" icon="textarea" @click.native="setType('text')"/>
                            <Type title="Выбор даты" icon="calendar" @click.native="setType('date')"/>
                            <Type title="Ползунок" icon="range" @click.native="setType('range')"/>
                            <Type title="Загрузка файла" icon="upload" @click.native="setType('upload')"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import BaseMixin from './mixins/base';
import Type from './TypeQuestionModal/Type.vue';

export default {
    name: 'TypeQuestionModal',
    mixins: [BaseMixin],
    emits: ['change'],
    components: { Type },
    computed: {
        ...mapGetters('quizBuilder/questions', [
            'questionVuex',
        ]),
    },
    methods: {
        setType(type) {
            this.$emit('change', this.questionVuex, type);
            $('#TypeQuestionModal').modal('hide');
        },
    },
};
</script>

<style scoped lang="scss">
.modal-lg{
    max-width: 740px;
}
.modal .modal-content .modal-header{
    padding-right: 30px;
    padding-left: 30px;
}
.modal .modal-content .modal-body{
    padding-top: 30px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 15px;
}
.question-types-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
</style>
