<template>
    <div class="b-form b-quiz-builder b-quiz-builder--preview">
        <div class="b-quiz-builder__kitchen">
            <QuestionsHeader/>
            <template>
                <div class="mt--40">
                    <tabs v-model="value" no-padding :items="[{ t: $t('quiz-edit-questions.content') }, { t: $t('quiz-edit-questions.settings') }]"/>
                </div>
                <div v-if="value === 0">
                    <HideAll v-bind="$props"/>
                    <div class="questions mt--20">
                        <draggable v-model="jsonQuiz.questions" handle=".question__header__type">
                            <transition-group>
                                <Question
                                    v-for="(question, questionIndex) in jsonQuiz.questions"
                                    :index="questionIndex"
                                    :key="question.slug"
                                    :question="question"
                                    :jsonQuiz="jsonQuiz"
                                />
                            </transition-group>
                        </draggable>
                    </div>
                    <Add v-bind="$props"/>
                </div>
                <div v-if="value === 1">
                    <Consultant v-bind="$props"/>
                    <QuizAsTest v-bind="$props"/>
                </div>
            </template>
        </div>
        <TypeQuestionModal :jsonQuiz="jsonQuiz" @change="onChangeQuestionType"/>
        <HintAnswerModal :jsonQuiz="jsonQuiz" @input="onChangeValueHint"/>
        <ConditionsModal :jsonQuiz="jsonQuiz" @input="onChangeConditions"/>
        <QuizAsTestModal :jsonQuiz="jsonQuiz"/>
    </div>
</template>
<script>
import draggable from 'vuedraggable';
import { mapGetters } from 'vuex';
import Tabs from '@design/Tabs.vue';
import Question from '@src/js/components/quiz-builder/Question2/Question';
import HideAll from '@src/js/components/quiz-builder/Question2/HideAll';
import HintAnswerModal from '@src/js/components/quiz-builder/Question2/HintAnswerModal';
import TypeQuestionModal from '@src/js/components/quiz-builder/Question2/TypeQuestionModal';
import ConditionsModal from '@src/js/components/quiz-builder/Question2/ConditionsModal';
import QuizAsTestModal from '@src/js/components/quiz-builder/Question2/QuizAsTestModal';
import Consultant from '@src/js/components/quiz-builder/Question2/Consultant';
import QuizAsTest from '@src/js/components/quiz-builder/Question2/QuizAsTest';
import Add from '@src/js/components/quiz-builder/Question2/Add';
import QuestionsHeader from '@src/js/components/quiz-builder/Question2/Header';
import BaseMixin from './Question2/mixins/base';

export default {
    name: 'QuizBuilderQuestions',
    mixins: [BaseMixin],
    components: {
        Tabs,
        HideAll,
        Question,
        draggable,
        QuizAsTestModal,
        ConditionsModal,
        HintAnswerModal,
        TypeQuestionModal,
        QuestionsHeader,
        Consultant,
        QuizAsTest,
        Add,
    },
    data: () => ({
        value: 0,
    }),
    methods: {
        onChangeQuestionType(question, type) {
            this.questions.forEach((q) => {
                if (q.slug === question.slug) {
                    q.type = type;
                }
            });
        },
        onChangeConditions(question) {
            this.questions.forEach((q) => {
                if (q.slug === question.slug) {
                    q.when = question.when;
                }
            });
        },
        onChangeValueHint(hint) {
            this.questions.forEach((q) => {
                if (q.slug === this.questionVuex.slug) {
                    if (q.values[this.answerValue]) {
                        q.values[this.answerValue].comment = hint;
                    }
                }
            });
        },
    },
    computed: {
        ...mapGetters('quizBuilder/questions', [
            'questionVuex',
            'answerValue',
        ]),
    },
};
</script>
<style lang="scss" scoped>
.b-quiz-builder{
    &__kitchen {
        width: 452px;
    }
}
.question__add{
    width: 100%;
    height: 100px;
    background: #F7F7F7;
    border: 1px solid #EBEDF0;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>
<style lang="scss">
.consultant.b-accordion--no-border {
    border-bottom: 1px solid $secondary-100;
}
</style>
