<template>
    <div class="question-cards">
        <Variants :question="q"/>
    </div>
</template>

<script>
import BaseMixin from '../../mixins/base';
import Variants from '../Variants.vue';

export default {
    name: 'QuestionTypeCards',
    mixins: [BaseMixin],
    components: { Variants },
};
</script>

<style scoped lang="scss">

</style>
