<template>
    <div class="question-date">
        <b-field v-model="q.dateDefaultFirst" :type="inputType" title="Дата по умолчанию">
            <template v-slot:left>
                <div class="b-input__left-text">
                    <i class="uil uil-calendar-alt"></i>
                </div>
            </template>
        </b-field>
        <template v-if="q.dateRange">
            <b-field v-model="q.dateDefaultSecond" :type="inputType" title="Конечная дата">
                <template v-slot:left>
                    <div class="b-input__left-text">
                        <i class="uil uil-calendar-alt"></i>
                    </div>
                </template>
            </b-field>
        </template>
    </div>
</template>

<script>
import BaseMixin from '../../mixins/base';

export default {
    name: 'QuestionTypeDate',
    mixins: [BaseMixin],
    computed: {
        inputType() {
            return this.q.dateTime ? 'datetime-local' : 'date';
        },
    },
};
</script>

<style scoped lang="scss">
.uil-calendar-alt{
    font-size: 20px;
    color: $secondary-500;
}
.b-input__left-text{
    width: 40px;
}
</style>
