<template>
    <div class="question-upload">
        <b-select
            class="mb--0"
            title="Тип файлов"
            v-model="q.fileUploadType"
            :options="options">
        </b-select>
    </div>

</template>

<script>
import BaseMixin from '../../mixins/base';

export default {
    name: 'QuestionUpload',
    mixins: [BaseMixin],
    data() {
        return {
            options: [
                { text: this.$t('quiz-edit-questions.file-type-all'), value: 'all' },
                { text: this.$t('quiz-edit-questions.file-type-image'), value: 'images' },
                { text: this.$t('quiz-edit-questions.file-type-video'), value: 'videos' },
                { text: this.$t('quiz-edit-questions.file-type-documents'), value: 'docs' },
            ],
        };
    },
};
</script>

<style scoped lang="scss">

</style>
