<template>
    <div class="question-range">

        <div class="b-text mb--8 b-text--secondary b-text--fs-14">Диапазон значений</div>
        <div class="question-range__inputs">
            <div class="pr--10">
                <b-field v-model="q.min" class="mb--0" type="number" placeholder="0"></b-field>
            </div>
            <div>&mdash;</div>
            <div class="pl--10">
                <b-field v-model="q.max" class="mb--0" type="number" placeholder="100"></b-field>
            </div>
        </div>

        <template v-if="q.rangeType==='single'">
            <div class="question-range__inputs mt--26">
                <div class="pr--10">
                    <b-field title="Начальное значение" v-model="q.from" class="mb--0" type="number" placeholder="0"></b-field>
                </div>
                <div class="question-range__inputs-hidden">&mdash;</div>
                <div class="pl--10">
                    <b-field title="Шаг" v-model="q.step" class="mb--0" type="number" placeholder="100"></b-field>
                </div>
            </div>
        </template>
        <template v-else-if="q.rangeType==='multiple'">
            <div class="b-text mb--8 b-text--secondary b-text--fs-14 mt--26">Диапазон по умолчанию</div>
            <div class="question-range__inputs">
                <div class="pr--10">
                    <b-field v-model="q.from" class="mb--0" type="number" placeholder="0"></b-field>
                </div>
                <div>&mdash;</div>
                <div class="pl--10">
                    <b-field v-model="q.to" class="mb--0" type="number" placeholder="100"></b-field>
                </div>
            </div>
            <div class="mt--26">
                <b-field title="Шаг" v-model="q.step" class="mb--0" type="number" placeholder="100"></b-field>
            </div>
        </template>

    </div>
</template>

<script>
import BaseMixin from '../../mixins/base';

export default {
    name: 'QuestionTypeRange',
    mixins: [BaseMixin],
};
</script>

<style scoped lang="scss">
.question-range__inputs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-hidden{
        opacity: 0;
    }
}
</style>
