<template>
    <div class="question-text">
        <b-field
            v-model="question.placeholder"
            title="Подсказка для поля"
            placeholder="Например, “Ваши пожелания к заказу”"/>
    </div>
</template>

<script>
import BaseMixin from '../../mixins/base';

export default {
    name: 'QuestionTypeText',
    mixins: [BaseMixin],
};
</script>

<style scoped lang="scss">

</style>
