<template>
    <div>
        <b-checkbox v-bind:checked="type === 'cards_checkbox'"
                    @input="setType"
                    text="Можно несколько"
                    class="mb--20"/>
        <b-checkbox v-model="q.required"
                    text="Обязательный вопрос"
                    class="mb--0"/>
    </div>
</template>

<script>
import BaseMixin from '../../mixins/base';

export default {
    name: 'VueQuestionFooterCards',
    mixins: [BaseMixin],
    methods: {
        setType(value) {
            this.q.type = value ? 'cards_checkbox' : 'cards';
        },
    },
};
</script>
