<template>
    <div>
        <b-checkbox v-model="q.dateRange" :text="$t('quiz-edit-questions.date-select-range')" class="w-100 mb--20"/>
        <b-checkbox v-model="q.dateTime" :text="$t('quiz-edit-questions.select-time')" class="w-100 mb--20"/>
        <b-checkbox v-model="q.dateBefore" :text="$t('quiz-edit-questions.block-select-today-date')" class="w-100 mb--20"/>
        <b-checkbox v-model="q.required" :text="$t('quiz-edit-questions.mandatory-question')" class="w-100 mb--0"/>
    </div>
</template>

<script>
import BaseMixin from '../../mixins/base';

export default {
    name: 'VueQuestionFooterDate',
    mixins: [BaseMixin],
};
</script>
