<template>
    <div>
        <div class="question-image">
            <div class="question-image__switch">
                <b-switch class="mb--0"
                          v-model="q.image.enable"/>
            </div>
            <file-upload v-bind="fileUploadProps"
                         v-model="q.image"
                         class="mb--24" />
        </div>
        <b-checkbox v-bind:checked="type === 'checkbox'"
                    @input="setType"
                    text="Можно несколько"
                    class="mb--20"/>
        <b-checkbox v-model="q.custom_answer"
                    text="Позволить пользователю вводить свой ответ"
                    class="mb--20"/>
        <b-checkbox v-model="q.required"
                    text="Обязательный вопрос"
                    class="mb--0"/>
    </div>
</template>

<script>
import BaseMixin from '../../mixins/base';

export default {
    name: 'VueQuestionFooterRadio',
    mixins: [BaseMixin],
    methods: {
        setType(value) {
            this.q.type = value ? 'checkbox' : 'radio';
        },
    },
    computed: {
        fileUploadProps() {
            return {
                crop: true,
                cropWidth: 500,
                routeUpload: this.$getRoute('quiz-edit-upload-image'),
                autoWidth: true,
                hideButton: true,
                title: 'Картинка для вопроса',
                size: 'Рекомендованный размер: 430x230 пикселей',
            };
        },
    },
};
</script>

<style lang="scss" scoped>
.question-image{
    position: relative;
    &__switch{
        position: absolute;
        right: 0px;
        top: -5px;
        z-index: 2;
    }
}
</style>
