<template>
    <div>
        <b-checkbox :checked="q.rangeType==='multiple'"
                    @input="setType"
                    :text="$t('quiz-edit-questions.range-selector-two-sliders')"
                    class="mb--20"/>
        <b-checkbox v-model="q.required"
                    :text="$t('quiz-edit-questions.mandatory-question')"
                    class="w-100 mb--0"/>
    </div>
</template>

<script>
import BaseMixin from '../../mixins/base';

export default {
    name: 'VueQuestionFooterRange',
    mixins: [BaseMixin],
    methods: {
        setType(value) {
            this.q.rangeType = value ? 'multiple' : 'single';
        },
    },
};
</script>
