<template>
    <div>
        <b-field v-model="q.placeholder" class="mb--28" title="Текст в выпадающем списке" subtitle="Когда не выбран ответ" placeholder="Например, “Выберите ответ”"/>
        <b-checkbox v-model="q.required" text="Обязательный вопрос" class="mb--0"/>
    </div>
</template>

<script>
import BaseMixin from '../../mixins/base';

export default {
    name: 'VueQuestionFooterSelect',
    mixins: [BaseMixin],
    methods: {
        setTypeRange(value) {
            this.q.rangeType = value ? 'single' : 'multiple';
        },
    },
};
</script>
