<template>
    <div>
        <b-checkbox v-model="q.multipleRows"
                    text="Многострочный ответ"
                    class="mb--20"/>
        <b-checkbox v-model="q.required"
                    text="Обязательный вопрос"
                    class="mb--0"/>
    </div>
</template>

<script>
import BaseMixin from '../../mixins/base';

export default {
    name: 'VueQuestionFooterText',
    mixins: [BaseMixin],
};
</script>
