<template>
    <div>
        <b-checkbox v-model="q.multiple" text="Можно несколько" class="mb--20"/>
        <b-checkbox v-model="q.required" text="Обязательный вопрос" class="mb--0"/>
    </div>
</template>

<script>
import BaseMixin from '../../mixins/base';

export default {
    name: 'VueQuestionFooterUpload',
    mixins: [BaseMixin],
    methods: {
        setTypeRange(value) {
            this.q.rangeType = value ? 'single' : 'multiple';
        },
    },
};
</script>
